/* место для вашего кода */

.header{
    display: grid;
    width:1100px;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 24px;
 
}
.reference{
    
    grid-column: 1;
    align-self: center;
    justify-self: start;
   
}
.menu{
    display: flex;
    flex-direction: row;
    gap:30px;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    word-spacing: 2px;
}

.list{
    display: list-item;
    list-style-type: circle;
    
}
.logo{
  grid-column: 2;
  width: 100%;
  
}
.contacts{
    grid-column: 3;
    align-self: center;
    justify-self: end; 
    text-wrap: wrap;  
}
.address{
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
font-size: 18px;
font-weight: 400;
line-height: 24.3px;

}
.underline{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.cover{
    display: flex;
    width: 1100px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    margin-bottom:180px;
    height: 757px;

}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    opacity: 0.6;
    background-color: #000;
    z-index: 0;
}    
.cover__title{
    padding: 165px 24px 237px;
    position: absolute;
    color: #FFF;
    inset: 0;
    display: grid;
    
}
.aligned-text{
    font-size: 100px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 30px;
    text-transform: uppercase;
}
.aligned-text_left{
    text-align: left;
    line-height: 135%
}
.aligned-text_center {
    text-align: center;
}
.aligned-text_right{
    text-align: right;
}
.letter-spacing-extended{
    letter-spacing: 0;
}
.no-letter-spacing{
    letter-spacing: 60px;
}
.cover__description{
position:absolute;
inset: 655px 24px 50px 108px ;
display: flex;
justify-content: space-between;
box-sizing: border-box;




}
.cover__description-text{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 20px;
    padding: 12px 0;
}
.bet-button{
    
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 0 32px;
    
    
}
.text-button{
    color: #FFF;
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: normal;
text-transform: uppercase;

}

.footer{
    display: grid;
    grid-template-columns: 139px 1fr 139px;
    padding: 0 24px 90px;
    width:1100px;
   
}
.footer-menu{
    grid-column: 2;
    align-self: center;
    justify-self: center;
}
.footer__social-list{
    grid-column: 3;
    width: 100%
    
}
