/* место для вашего кода */
.container {
  margin: 0 auto;
  max-width: 1100px;
}
.header {
  display: grid;
  grid-template-columns: 452px 1fr 452px;
  padding: 92px 24px 96px;
  align-content: center;
}
.header__menu {
  height: max-content;
}

.header__link_active {
  display: list-item;
  list-style-type: circle;
}
.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.header__links-list-item {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 400;
  word-spacing: 3px;
  padding: 43px 0 41px;
}
.header__logo {
  contain: size;
}
.header__logo-image {
  height: 100%;
}

.address {
  padding: 5px 0 3px 212px;
}
.header__address {
  list-style-type: none;
  font-size: 18px;
  line-height: 24.3px;
}

.cover {
  display: flex;
  width: 1100px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  margin-bottom: 180px;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-color: #000;
  z-index: 0;
  inset: 0;
}
.cover__title {
  padding: 165px 24px 237px;
  position: absolute;
  color: #fff;
  inset: 0;
  display: grid;
  grid-template-rows: 115px 1fr 1fr;
  align-items: center;
}
.aligned-text {
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
  padding: 20px 0;
  padding-left: 57px;
}
.aligned-text_right {
  text-align: right;
}
.letter-spacing-extended {
  letter-spacing: 0;
}
.no-letter-spacing {
  letter-spacing: 60px;
}
.cover__description {
  position: absolute;
  inset: 655px 24px 50px 108px;
  display: flex;
  justify-content: space-between;
}

.cover__description-text {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
  padding: 12px 0;
  opacity: 0.8;
  z-index: 1;
}
.spacing {
  padding-left: 6px;
}
.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0 32px;
}
.text-button {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Raleway";
  opacity: 0.9;
}

.lots {
  margin-bottom: 179px;
  padding: 0 24px;
  width: 1100px;
  display: flex;
  flex-direction: column;
}
.lots__heading {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 26px;
}
.lots__card-list {
  display: flex;
  justify-content: space-between;
}
.lots__card-list-item {
  min-height: 600px;
  list-style-type: none;
}
.card-link {
  text-decoration: none;
}
.card {
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_type_film {
  background-image: url(/ono-tebe-nado/images/card-lot-01.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.card_type_book {
  background-image: url(/ono-tebe-nado/images/card-lot-02.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  background-position: center;
}
.card_type_picture {
  background-image: url(/ono-tebe-nado/images/card-lot-03.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  background-position: center;
}

.card__title {
  padding: 50px 40px 0;
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.card__text {
  z-index: 1;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  padding: 0 40px 50px;
}
.card__text_left {
  padding: 0 40px 62px;
}

.lots__look-more-link {
  margin-top: 30px;
  padding: 0 0 2px 26px;
  font-size: 20px;
  font-weight: 400;
  text-decoration-thickness: 1px;
}
.about {
  padding: 0 24px;
  margin-bottom: 181px;

  display: grid;
  grid-template-columns: 455px 1fr;
}
.about__column_1 {
  padding: 0 95px 356px;
}
.about__logo {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 140px;
  padding: 63px 46px;
}
.about__column_2 {
  padding: 101px 0 0 0;
}
.about__title {
  padding-bottom: 100px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.about__text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}
.about__text:last-child {
  padding-top: 25px;
}
.footer {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  padding: 0 24px;
  margin-bottom: 90px;
  align-items: start;
  justify-items: center;
}

.footer__menu-list {
  list-style-type: none;
}
.footer__menu-list-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}

.footer__social-list {
  list-style-type: none;
}
.footer__social-list-item {
  display: flex;
  gap: 45px;
  width: 240px;
  height: 48px;
}
